div {
  padding: 10px;
}

html, body {
  height: 100vh; /* Occupy full screen height */
  margin: 0;
  padding: 0;    
}

body {
  background-image: url("https://cdn.mos.cms.futurecdn.net/LZUsfgcXH7WMeVvuHYsoSA.png");
  width: 66%;      /* Must have a width less than 100% */
  margin: 0 auto;  /* Sets top/bottom to 0 and left/right to auto */
}

img {
  max-width: 100%;
  max-height: 100%; /* Keep image inside the cell */
  display: block;
  object-fit: contain;
}

.container {
  display: grid;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr); /* Force rows to stay equal */
  height: 100vh; /* Or 100% if body is set */
  box-sizing: border-box;
  /* Step 1: The 'Outline' Color */
  background-color: #AAAAAAaa;
}

.upper-section {
  grid-template-columns: 4fr 6fr;
  gap: 10px;
  display: grid;
}

.lower-section {
  grid-template-columns: 6fr 4fr;
  gap: 10px;
  display: grid;
}

.news {
  background-color: 111111;
  color: white;
  overflow-y: auto; /* Adds a scrollbar if text is too long */
}


.bio {
  display: grid; /* Make sure this is a grid too */
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
}

.bio-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

 .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  background-color: 111111;
  color: white;
}
