div {
  border: thin solid black;
  padding: 10px;
}

body {
  width: 66%;      /* Must have a width less than 100% */
  margin: 0 auto;  /* Sets top/bottom to 0 and left/right to auto */
}

img {
  display: block;
  object-fit: scale-down;
  overflow: hidden;
}

.container {
  grid-template-rows: 1fr 1fr;
  display: grid;
  height: 100%;
  box-sizing: border-box;
}

.upper-section {
  grid-template-columns: 4fr 6fr;
  gap: 10px;
  display: grid;
}

.lower-section {
  grid-template-columns: 6fr 4fr;
  gap: 10px;
  display: grid;
}

.news {
  overflow-y: auto;
}

.bio {
  grid-template-rows: 1fr 2fr;
}

.bio-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

 .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
