body {
				
}

.header {
	padding: 20px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}

.button {
	border: 3px solid #1abc9c;
}
            
.button:hover {
	background-color: #1abc9c;
	border: 3px solid #1abc9c;      
}
            
.footer {
	display:inline-block
}
