.header {
	background: #1abc9c;
}

.button {
	border: 3px solid #1abc9c;
	width: 100px;
  	height: 20px;
}
            
.button:hover {
	background-color: #1abc9c;
	border: 3px solid #1abc9c;      
}
