body {
				
}

.header {
	padding: 20px;
	text-align: center;
	background: #b399ff;
	color: white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	padding: 2px 16px;
	background: #555;
	color: #f1f1f1;
}

.content {
	font-size: 30px;
	font-style: bold;
	text-align: center;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

.topnav {
  text-align: right;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d2c9d6;
  color: black;
}

.topnav a.active {
  background-color: #8f48a8;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.button {
	background-color: white; ;
	border: 3px solid #1abc9c;
	color: black;
	padding: 9px 36px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
            
.button:hover {
	background-color: #1abc9c;
	color: white;
	border: 3px solid #1abc9c;      
}
            
.footer {
	display:inline-block
}
