@font-face {
    font-family: 'made_tommy_soft';
    src: url('made_tommy_soft_extrabold_personal_use-webfont.woff2') format('woff2'),
         url('made_tommy_soft_extrabold_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {

	font-family: 'mts_light';
	src: url('fonts/mts.otf');
	font-weight: normal;
	font-style: normal;
	
}

:root {
	--gray-color: #555555;
	--projects-color: #F4B1C5;
	--datapacks-color: #eedaa8;
	--content-color: #bfd29f;
	--about-color: #A8B0DD;
}

body {
	font-family: made_tommy_soft;
	margin: 0;
}

.content {

	font-family: mts_light;
	padding: 5vw;
	display: grid;
	grid-template-columns: 43vw 43vw;
	justify-content: center;
	gap: 3vw;
	font-size: 36px;
}

.footer {
	padding: 1vh;
    bottom: 0; 
    left: 0;
	right: 0;
    z-index: 10;
	box-shadow: 0px -5px 5px 0px #9D8E9E55;
	font-size: 12px;
	text-align: center;
}

.grid-item:nth-child(1) {
	border-color: var(--projects-color);
}

.grid-item:nth-child(1):hover {
	background-color: var(--projects-color);
}

.grid-item:nth-child(2) {
	border-color: var(--datapacks-color);
}

.grid-item:nth-child(2):hover {
	background-color: var(--datapacks-color);
}

.grid-item:nth-child(3) {
	border-color: var(--content-color);
}

.grid-item:nth-child(3):hover {
	background-color: var(--content-color);
}

.grid-item:nth-child(4) {
	border-color: var(--about-color);
}

.grid-item:nth-child(4):hover {
	background-color: var(--about-color);
}

.header {
	text-align: center;
	color: white;
	font-size: 3vw;
	box-shadow: 0px 5px 5px 0px #9D8E9E;
}

.button {
	font-family: made_tommy_soft;
	background-color: white;
	text-align: center;
	transition-duration: 0.4s;
	border: 8px solid white;
	border-radius: 32px;
	color: black;
	padding: 15vh 0vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vw;
	box-shadow: 0px 10px 10px -3px #9D8E9E;
}

.button img {
	width: 15%;
}

.button:hover {
	color: white;
	background-color: white;
}

.project-page {
	height: 5vh;
	border-color: var(--projects-color);
}

.project-page:hover {
	background-color: var(--projects-color);
}

.datapacks-page {
	height: 5vh;
	border-color: var(--datapacks-color);
}

.datapacks-page:hover {
	background-color: var(--datapacks-color);
}

.content-page {
	height: 5vh;
	border-color: var(--content-color);
}

.content-page:hover {
	background-color: var(--content-color);
}

.back {
	height: 5vh;
	border-color: var(--gray-color);
	
}

.back:hover {
	
	background-color: var(--gray-color);
	
}
