.largebutton {
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  padding: 50px 80px;
  text-decoration: none;
}

.largebutton:hover {
  color: white;
  -webkit-filter: brightness(80%);
  padding: 60px 80px;
}

.title {
  -webkit-text-stroke: 1px black;
  font-size: 40px;
  font-family: Calibri, Candara, Seqoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: bold;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.description {
  display: block;
  -webkit-text-stroke: 0.5px black;
  font-size: 20px;
  font-family: Calibri, Candara, Seqoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: bold;
  color: white;
  text-align: left;
  opacity: 0;
  font-style: italic;
}

.largebutton:hover .description {
  font-size: 20px;
  transition: 0.8s;
  opacity: 100;
  padding: 0px 40px;
}

.flappyButton {
  background: url(https://pngimage.net/wp-content/uploads/2018/06/flappy-bird-background-png.png);
  object-fit: contain;
  display: flex;
  background-position: bottom;
}


.scratchButton {
  background: url(https://github.com/lucaslovestacos/lucaslovestacos.github.io/blob/master/scratch%20BIG.png?raw=true);
  object-fit: contain;
  display: flex;
  background-position: center;
  background-size: 100%;
}


.kiwiButton {
  background: url(https://cdn.discordapp.com/attachments/506231027811745802/687094643124338695/EN-ackkWAAA4hT6.png);
  object-fit: contain;
  display: flex;
  background-position: top;
  background-size: 100%;
}

.xpButton {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSpBHQMX2q0KEbh4oa6UuOLHbc7FciYOKctKBbZChN2RX1toSPm%3Ahttps%3A%2F%2Fvignette.wikia.nocookie.net%2Fminecraft%2Fimages%2Fe%2Fea%2F2014-04-19_14.10.16.png%2Frevision%2Flatest%2Fscale-to-width-down%2F340%3Fcb%3D20140419182453&usqp=CAU);
  object-fit: contain;
  display: flex;
  background-position: top;
  background-size: 100%;
}

.twitchButton {
  background: url(https://raw.githubusercontent.com/lucaslovestacos/lucaslovestacos.github.io/master/banner.png);
  object-fit: contain;
  display: flex;
  background-position: center;
  background-size: 100%;
}

.wheelButton {
  background: url(https://raw.githubusercontent.com/lucaslovestacos/lucaslovestacos.github.io/master/wheel/wheel-of-fortune-jeopardy-to-nix-live-audiences.jpg);
  object-fit: contain;
  display: flex;
  background-position: center;
  background-size: 100%;
}

.tfButton {
  background: url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg?t=1592263852);
  object-fit: contain;
  display: flex;
  background-position: center;
  background-size: 100%;
}

.donateButton {
  background: url(https://raw.githubusercontent.com/lucaslovestacos/lucaslovestacos.github.io/master/donate/banner.png);
  object-fit: contain;
  display: flex;
  background-position: center;
  background-size: 100%;
}
