.header {
	padding: 20px;
	text-align: center;
	background: #52bd51;
	color: white;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
}

.versions {
	text-align: center;
	color: black;
	font-size: 20px;
	font-weight: bold;			
}

.backnext {
	display:inline-block;
	text-align: center;
}

.contents {
	color: black;
	font-size: 18px;
	padding: 10px;
	background: #c8edc7;
}

.button {
	background-color: white; ;
	border: 3px solid #1abc9c;
	color: black;
	padding: 9px 36px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}
            
.button:hover {
	background-color: #1abc9c;
	color: white;
	border: 3px solid #1abc9c;      
}
            
.footer {
	display:inline-block
}
