body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  text-align: center;
  background: #62b261;
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.content {
  padding: 0px 16px;
}

.topnav {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  overflow: hidden;
  background-color: #333;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.topnav a:hover {
  background-color: #d2c9d6;
  color: black;
}

.topnav a.active {
  background-color: #8f48a8;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.button {
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  padding: 9px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  color: white;
}

.table2 {
  width: 85%;
  padding: 7%;
}

.footer {
  display: inline-block;
}

td.valuecell {
  text-align: right;
}

td, th {
  border: solid 1px black;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

table {
  border-collapse: collapse;
  border: solid 1px black;
  text-align: center;
  width: 100%;
}

.mono {
  font-family: monospace;
}
