.flappyButton {
   background: url(https://cdn.cogecolive.com/prod-20180515/generic_1526397738636915_ori.jpeg);
  -webkit-filter: brightness(80%);
  -webkit-text-stroke: 1px black;
  font-size: 40px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  padding: 80px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  display: flex;
  width: auto;
}

.flappyButton:hover {
  color: white;
  -webkit-filter: brightness(40%);
}

.scratchButton {
   background: url(https://raw.githubusercontent.com/lucaslovestacos/lucaslovestacos.github.io/master/MyProjects/Screenshot%202020-02-24%20at%2009.36.32.png);
  -webkit-filter: brightness(80%);
  -webkit-text-stroke: 1px black;
  font-size: 40px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  padding: 80px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  display: flex;
  width: auto;
}

.scratchButton:hover {
  color: white;
  -webkit-filter: brightness(40%);
}
