body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.flappyButton {
   background: url(https://cdn.cogecolive.com/prod-20180515/generic_1526397738636915_ori.jpeg);
  -webkit-filter: brightness(80%);
  font-size: 40px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-weight: bold;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
  margin: 20px;
  color: white;
  padding: 80px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flappyButton:hover {
  color: white;
  -webkit-filter: brightness(40%);
}
